.navholder{
    width:100%;max-height: fit-content; background-color: chocolate;min-height:150px;min-width: 500px;
}
.navholder::selection{
    background-color: none;
}
.navholder ul{
    list-style: none;
}
.navholder ul li{
    position: relative;float:left;text-align: end;margin-top: 50px;margin-left: 40px;cursor: pointer;
}
.navholder ul li:hover{
    color:white;
}
.htitle{
    height:60px;width:300px;background-color: white;
}
.navmenu{
    width:100%;justify-content: end;align-items: center;height:100px;
}
.navholder a {
    text-decoration: none !important;color: black;
}