<link rel="stylesheet" href="{{url_for('static',filename='css/navbar.css')}}">
<div class='container-fluid navholder'>
   <div class="column">
      <div class="row htitle">
         <h1>QUICK NEWS</h1>
      </div>
      <div class="row navmenu">
         <ul>
            <a href='http://127.0.0.1:5000/category/politics'>
               <h3>
                  <li>Politics</li>
               </h3>
            </a>
            <a href='http://127.0.0.1:5000/category/entertainment'>
               <h3>
                  <li>Entertainment</li>
               </h3>
            </a>
            <a href='http://127.0.0.1:5000/category/sports'>
               <h3>
                  <li>Sports</li>
               </h3>
            </a>
            <a href='http://127.0.0.1:5000/category/business'>
               <h3>
                  <li>Business</li>
               </h3>
            </a>
            <a href='http://127.0.0.1:5000/category/technology'>
               <h3>
                  <li>Technology</li>
               </h3>
            </a>
            <a href='http://127.0.0.1:5000/category/science'>
               <h3>
                  <li>Science</li>
               </h3>
            </a>
            <a href='http://127.0.0.1:5000/source'>
               <h3>
                  <li>Sources</li>
               </h3>
            </a>
         </ul>
      </div>
   </div>
</div>